USE [master]
GO
/****** Object:  Database [QLTOUR]    Script Date: 11/06/2025 7:42:58 CH ******/
CREATE DATABASE [QLTOUR]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLTOUR', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QLTOUR.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLTOUR_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QLTOUR_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLTOUR].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLTOUR]
GO
/****** Object:  Table [dbo].[CHITIET]    Script Date: 11/06/2025 7:42:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIET](
	[MaDD] [nchar](10) NOT NULL,
	[MaTour] [nchar](10) NOT NULL,
 CONSTRAINT [PK_CHITIET] PRIMARY KEY CLUSTERED 
(
	[MaDD] ASC,
	[MaTour] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIADANH]    Script Date: 11/06/2025 7:42:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIADANH](
	[MaDD] [nchar](10) NOT NULL,
	[TenDD] [nchar](100) NULL,
	[MaTinh] [nchar](10) NULL,
	[Hinhanh] [nchar](50) NULL,
 CONSTRAINT [PK_DIADANH] PRIMARY KEY CLUSTERED 
(
	[MaDD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TINHTP]    Script Date: 11/06/2025 7:42:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TINHTP](
	[MaTinh] [nchar](10) NOT NULL,
	[TenTinh] [nchar](30) NOT NULL,
	[Mien] [nchar](20) NULL,
 CONSTRAINT [PK_TINHTP] PRIMARY KEY CLUSTERED 
(
	[MaTinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TOURDL]    Script Date: 11/06/2025 7:42:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOURDL](
	[MaTour] [nchar](10) NOT NULL,
	[TenTour] [nchar](100) NULL,
	[Songay] [smallint] NOT NULL,
	[Giave] [money] NOT NULL,
	[Phuongtien] [tinyint] NOT NULL,
 CONSTRAINT [PK_TOURDL] PRIMARY KEY CLUSTERED 
(
	[MaTour] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
