create database QLSHOW
go
USE [QLSHOW]
GO
/****** Object:  Table [dbo].[CASI]    Script Date: 01/12/2024 3:58:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CASI](
	[MaCS] [varchar](5) NOT NULL,
	[Nghedanh] [nvarchar](30) NULL,
	[Theloai] [nvarchar](50) NULL,
 CONSTRAINT [pk_CS] PRIMARY KEY CLUSTERED 
(
	[MaCS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SANKHAU]    Script Date: 01/12/2024 3:58:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SANKHAU](
	[MaDD] [varchar](5) NOT NULL,
	[TenDiaDiem] [nvarchar](30) NULL,
	[Diachi] [nvarchar](50) NULL,
	[Soghe] [int] NULL,
 CONSTRAINT [pk_SK] PRIMARY KEY CLUSTERED 
(
	[MaDD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SHOW]    Script Date: 01/12/2024 3:58:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SHOW](
	[Mashow] [varchar](5) NOT NULL,
	[Ngaybd] [smalldatetime] NULL,
	[Casichinh] [varchar](5) NULL,
	[CSdonghanh] [varchar](5) NULL,
	[Giobd] [time](7) NULL,
	[MaDD] [varchar](5) NULL,
	[Poster] [varchar](50) NULL,
 CONSTRAINT [pk_Show] PRIMARY KEY CLUSTERED 
(
	[Mashow] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SODOBOTRI]    Script Date: 01/12/2024 3:58:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SODOBOTRI](
	[MaDD] [varchar](5) NOT NULL,
	[Maghe] [varchar](7) NOT NULL,
 CONSTRAINT [pk_sodo] PRIMARY KEY CLUSTERED 
(
	[MaDD] ASC,
	[Maghe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VEBAN]    Script Date: 01/12/2024 3:58:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VEBAN](
	[Mave] [varchar](5) NOT NULL,
	[Hoten] [nvarchar](50) NULL,
	[SoDTzalo] [nvarchar](20) NULL,
	[Ngaydat] [smalldatetime] NULL,
	[Mashow] [varchar](5) NULL,
	[MaDD] [varchar](5) NULL,
	[Maghe] [varchar](7) NULL,
	[Giave] [int] NULL,
 CONSTRAINT [pk_VB] PRIMARY KEY CLUSTERED 
(
	[Mave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CASI] ([MaCS], [Nghedanh], [Theloai]) VALUES (N'HLT', N'Hamlet Trương', N'Nhạc Rock')
INSERT [dbo].[CASI] ([MaCS], [Nghedanh], [Theloai]) VALUES (N'HMI', N'Hòa Minzy', N'Nhạc Acoustic')
INSERT [dbo].[CASI] ([MaCS], [Nghedanh], [Theloai]) VALUES (N'HN', N'Hà Nhi', N'Nhạc Ballad')
INSERT [dbo].[SANKHAU] ([MaDD], [TenDiaDiem], [Diachi], [Soghe]) VALUES (N'ACC', N'Khu du lịch Chuồn Chuồn', N'217, Thôn 5 - xóm 3, Xã Mê Linh, Huyện Lâm Hà,', 150)
INSERT [dbo].[SANKHAU] ([MaDD], [TenDiaDiem], [Diachi], [Soghe]) VALUES (N'Ama', N'Amazing show', N' Số 14 Đường Đống Đa, Phường 3, TP. Đà Lạt', 150)
INSERT [dbo].[SANKHAU] ([MaDD], [TenDiaDiem], [Diachi], [Soghe]) VALUES (N'BMO', N'Tiệm cà phê Bình Minh Ơi', N'89 Hoàng Hoa Thám, Phường 10, TP. Đà Lạt', 150)
INSERT [dbo].[SHOW] ([Mashow], [Ngaybd], [Casichinh], [CSdonghanh], [Giobd], [MaDD], [Poster]) VALUES (N'ACC01', CAST(N'2024-12-24 00:00:00' AS SmallDateTime), N'HMI', NULL, CAST(N'18:00:00' AS Time), N'ACC', NULL)
INSERT [dbo].[SHOW] ([Mashow], [Ngaybd], [Casichinh], [CSdonghanh], [Giobd], [MaDD], [Poster]) VALUES (N'ACC02', CAST(N'2024-12-20 00:00:00' AS SmallDateTime), N'HN', NULL, CAST(N'18:00:00' AS Time), N'ACC', NULL)
INSERT [dbo].[SHOW] ([Mashow], [Ngaybd], [Casichinh], [CSdonghanh], [Giobd], [MaDD], [Poster]) VALUES (N'BMO01', CAST(N'2024-12-23 00:00:00' AS SmallDateTime), N'PQA', N'HLT', CAST(N'17:00:00' AS Time), N'BMO', NULL)
INSERT [dbo].[SODOBOTRI] ([MaDD], [Maghe]) VALUES (N'ACC', N'ACC1 ')
INSERT [dbo].[SODOBOTRI] ([MaDD], [Maghe]) VALUES (N'ACC', N'ACC10 ')
INSERT [dbo].[SODOBOTRI] ([MaDD], [Maghe]) VALUES (N'ACC', N'ACC11 ')
GO
ALTER TABLE [dbo].[SHOW]  WITH CHECK ADD  CONSTRAINT [fk_DD] FOREIGN KEY([MaDD])
REFERENCES [dbo].[SANKHAU] ([MaDD])
GO
ALTER TABLE [dbo].[SHOW] CHECK CONSTRAINT [fk_DD]
GO
ALTER TABLE [dbo].[SHOW]  WITH CHECK ADD  CONSTRAINT [fk_Showcasichinh] FOREIGN KEY([Casichinh])
REFERENCES [dbo].[CASI] ([MaCS])
GO
ALTER TABLE [dbo].[SHOW] CHECK CONSTRAINT [fk_Showcasichinh]
GO
ALTER TABLE [dbo].[SHOW]  WITH CHECK ADD  CONSTRAINT [fk_Showcasidonghanh] FOREIGN KEY([CSdonghanh])
REFERENCES [dbo].[CASI] ([MaCS])
GO
ALTER TABLE [dbo].[SHOW] CHECK CONSTRAINT [fk_Showcasidonghanh]
GO
ALTER TABLE [dbo].[SODOBOTRI]  WITH CHECK ADD  CONSTRAINT [fk_DD_ghe] FOREIGN KEY([MaDD])
REFERENCES [dbo].[SANKHAU] ([MaDD])
GO
ALTER TABLE [dbo].[SODOBOTRI] CHECK CONSTRAINT [fk_DD_ghe]
GO
ALTER TABLE [dbo].[VEBAN]  WITH CHECK ADD  CONSTRAINT [fk_vebanDD] FOREIGN KEY([MaDD], [Maghe])
REFERENCES [dbo].[SODOBOTRI] ([MaDD], [Maghe])
GO
ALTER TABLE [dbo].[VEBAN] CHECK CONSTRAINT [fk_vebanDD]
GO
ALTER TABLE [dbo].[VEBAN]  WITH CHECK ADD  CONSTRAINT [fk_vebanshow] FOREIGN KEY([Mashow])
REFERENCES [dbo].[SHOW] ([Mashow])
GO
ALTER TABLE [dbo].[VEBAN] CHECK CONSTRAINT [fk_vebanshow]
GO
ALTER TABLE [dbo].[CASI]  WITH CHECK ADD  CONSTRAINT [chk_Theloai] CHECK  (([TheLoai]=N'Nhạc R&B' OR [TheLoai]=N'Nhạc Ballad' OR [TheLoai]=N'Nhạc Acoustic' OR [TheLoai]=N'Nhạc Dance' OR [TheLoai]=N'Nhạc Blues' OR [TheLoai]=N'Nhạc 2Jazz' OR [TheLoai]=N'Nhạc EDM' OR [TheLoai]=N'Nhạc đồng quê (Country Music)' OR [TheLoai]=N'Nhạc Rock' OR [TheLoai]=N'Nhạc Pop'))
GO
ALTER TABLE [dbo].[CASI] CHECK CONSTRAINT [chk_Theloai]
GO
ALTER TABLE [dbo].[SHOW]  WITH CHECK ADD  CONSTRAINT [chk_giobd] CHECK  ((datepart(hour,[Giobd])>=(17) AND datepart(hour,[Giobd])<=(20)))
GO
ALTER TABLE [dbo].[SHOW] CHECK CONSTRAINT [chk_giobd]
GO
/****** Object:  StoredProcedure [dbo].[nhaptudong]    Script Date: 01/12/2024 3:58:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[nhaptudong] @mask varchar(5), @soghe int
as
begin
 declare @maghe varchar(7)
 declare @tt int
 set @maghe=''
 set @tt=1
 while @tt< @soghe
   begin
        SET  @maghe =  CONCAT(@mask,convert(varchar(3),@tt),' ')
		Insert into SODOBOTRI values (@mask,@maghe)
        SET  @tt= @tt + 1
 end ; 
end
GO
/****** Object:  StoredProcedure [dbo].[taoveban]    Script Date: 01/12/2024 3:58:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[taoveban] @hoten nvarchar(50), @sodt varchar(20), @ngdat smalldatetime, @mashow varchar(5), @soghe int, @giave int
as
begin
  declare @tt int
  declare @maghe varchar(7)
  declare @mave int
  declare @madd varchar(5)
  set @madd= left(@mashow,3)
  if @madd ='LuL' 
    set @madd = @madd+'a'
  if @madd='GLT' 
    set @madd = @madd+'G'
  set @tt=1
  while @tt<@soghe
      begin
		 select top 1 @maghe = Maghe FROM SODOBOTRI where MaDD=@madd and Maghe NOT IN (Select Maghe From VEBAN where Mashow= @mashow)
	     Select @mave=count(*) from veban 
		 set @mave= @mave+1	 
		 set @tt=@tt+1
		 Insert into VEBAN values (convert(varchar(5),@mave),@hoten,@sodt,@ngdat,@mashow,@madd,@maghe,@giave)
	  end
end
GO
