USE [master]
GO
/****** Object:  Database [ENVIROMENT]    Script Date: 11/06/2025 7:41:40 CH ******/
CREATE DATABASE [ENVIROMENT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ENVIROMENT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ENVIROMENT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ENVIROMENT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ENVIROMENT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ENVIROMENT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ENVIROMENT]
GO
/****** Object:  Table [dbo].[CHIENDICH]    Script Date: 11/06/2025 7:41:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHIENDICH](
	[MaCD] [int] IDENTITY(1,1) NOT NULL,
	[TenCD] [nvarchar](150) NOT NULL,
	[Mota] [nvarchar](150) NOT NULL,
	[Ngaybd] [date] NOT NULL,
	[Ngaykt] [date] NOT NULL,
	[MaTC] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIADIEM]    Script Date: 11/06/2025 7:41:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIADIEM](
	[MaDD] [int] NOT NULL,
	[TenDD] [nvarchar](100) NOT NULL,
	[tinh] [nvarchar](100) NOT NULL,
	[nuoc] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TOCHUC]    Script Date: 11/06/2025 7:41:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOCHUC](
	[MaTC] [int] NOT NULL,
	[TenCD] [nvarchar](100) NULL,
	[contact_email] [varchar](100) NULL,
	[phone] [varchar](20) NULL,
	[Diachi] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRIENKHAICHIENDICH]    Script Date: 11/06/2025 7:41:41 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRIENKHAICHIENDICH](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaCD] [int] NULL,
	[MaDD] [int] NULL,
	[Hoatdongchinh] [varchar](100) NULL,
	[Trangthai] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHIENDICH]  WITH CHECK ADD FOREIGN KEY([MaTC])
REFERENCES [dbo].[TOCHUC] ([MaTC])
GO
ALTER TABLE [dbo].[TRIENKHAICHIENDICH]  WITH CHECK ADD FOREIGN KEY([MaCD])
REFERENCES [dbo].[CHIENDICH] ([MaCD])
GO
ALTER TABLE [dbo].[TRIENKHAICHIENDICH]  WITH CHECK ADD FOREIGN KEY([MaDD])
REFERENCES [dbo].[DIADIEM] ([MaDD])
GO
USE [master]
GO
